<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Confirmation Email</h1>
    <p>Thank you for registering! Please click the link below to confirm your email:</p>
    <p><%= link_to 'Confirm Email', confirm_email_url(@user.confirmation_token) %></p>
  </body>
</html>
